{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 100,

	"arrowParens": "always",
	"bracketSameLine": true,
	"bracketSpacing": true,
	"semi": false,
	"experimentalTernaries": false,
	"jsxSingleQuote": false,
	"quoteProps": "as-needed",
	"singleAttributePerLine": false,
	"htmlWhitespaceSensitivity": "css",
	"vueIndentScriptAndStyle": false,
	"proseWrap": "preserve",
	"insertPragma": false,
	"requirePragma": false,
	"tabWidth": 2,
	"embeddedLanguageFormatting": "auto"
}
